@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600&family=Work+Sans:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div{
  margin: 0 20px
}
.slick-list{
  margin: 0 -10px;
} 

.sogo{
  background-image: url("/src/ImageResources/HeroImage.svg");
}
